.info_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .info {
    margin-bottom: 2px;
    font-weight:500;
    font-family: 'Montserrat', sans-serif;

  }